*.sqlite3
*.pyc
*.db
*.*~

# Django stuff

migrations.*
 
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
 
# Coverage testing
.coverage
htmlcov/