{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>Salvage App</title>
    <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
  </head>
  <body>
    <div id="header">
      <ul id="control-bar">
      {% if user.is_authenticated %}
        {% if user.is_staff %}<a href="{% url 'admin:index' %}">admin</a>{% endif %}
        <li><a href="{% url 'logout' %}">logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">login</a></li>
        <li><a href="http://localhost:8000/accounts/register/">sign up</a></li>
      {% endif %}
      </ul>
    </div>
    <div id="container">
      <div id="content">
      {% block content %}
       [content will go here]
      {% endblock %}
      </div>
    </div>
  </body>
</html>