<form action="/user_type/" method="post">
	<label for="user_type">Enter the type of user you are, such as contractor, homeowner, salvage company, etc.: </label>
	<input id="user_type" type="text" name="user_type" value="">
	<input type="submit" value="OK">
</form>

<form action="/user/" method="post">
	<label for="user">Enter your user name: </label>
	<input id="user" type="text" name="user" value="">
	<input type="submit" value="OK">
	<label for="company">If applicable, enter your company name: </label>
	<input id="company" type="text" name="company" value=""></input>
	<input type="submit" value="OK"> 
</form>

<form action="/project_type/" method="post">
	<label for="project_type">Enter the type of project you are working on: </label>
	<input id="project_type" type="text" name="project_type" value="">
	<input type="submit" value="OK">
</form>

<form action="/address/" method="post">
	<label for="address">Enter your address: </label>
	<input id="address" type="text" name="address" value="">
	<input type="submit" value="OK">
</form>

<form action="/description/" method="post">
	<label for="description"> Further describe your project:</label>
	<input id="description" type="text" name="description" value="">
	<input type="submit" value="OK">
</form>  

