{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

<div class="jumbotron">
  <h1>Search results:</h1>
  <div id="map" class="container-fluid"></div>
  </br>
  <div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Filter your results:</div>
        <div class="panel-body">
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input class="btn btn-primary" type="submit" value="Submit"></p>
          </form>
          </div>
          </div>
    </div>
    <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Companies that accept {{ waste_type.waste_type }} {{ material_type.material_type }}:</div>
        <div class="panel-body">
          {% for company in material_processors %}
            <h3><a href="{% url 'waste_processor_detail' company.id %}">{{ company.company }}</a></h3>
          {% endfor %}
          <h3><a href="{% url 'material_search' project.id %}">New search</a></h3>
        </div>
        </div>
    </div>

    </div>
      


  </div>

</div>

{% endblock %}
{% block map_script %}
<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
</script>
{% endblock %}