{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Search results:</h1>
  <div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Filter your results:</div>
        <div class="panel-body">
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input class="btn btn-primary" type="submit" value="Submit"></p>
          </form>
          </div>
          </div>
    </div>
    <div class="col-md-8">
        <h2>Companies that accept {{ waste_type.waste_type }} {{ material_type.material_type }}:</h2>
          {% for company in material_processors %}
            <h3>{{ company.company }}</h3>
            <!-- TODO: add more fields (see salvagecompanies.html) once you've entered the data-->
          {% endfor %}
          <h3><a href="{% url 'material_search' project.project_slug %}">New search</a></h3>
      </div>
      


  </div>

</div>
{% endblock %}