{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">

<div class="jumbotron">
  <h1>Search results:</h1>
  </br>
  <div class="row">
  <div class="col-md-8">
    <div id="map"></div>

    </div>
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Filter your results:</div>
        <div class="panel-body">
          <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input class="btn btn-primary" type="submit" value="Submit"></p>
          </form>
          </div>
          </div>
    </div>
    
    <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">Companies that accept {{ waste_type.waste_type }} {{ material_type.material_type }}:</div>
        <div class="panel-body">
          {% for company in material_processors %}
            <h3><a href="{% url 'waste_processor_detail' company.id %}">{{ company.company }}</a></h3>
          {% endfor %}
          <h3><a href="{% url 'material_search' project.id %}">New search</a></h3>
        </div>
        </div>
    </div>

    </div>
      

    
  </div>

</div>

{% endblock %}
{% block map_script %}
<script>
      // pass template variables to the javascript
      function initMap() {
        var myLatLng = {
          {% if project.latitude %}
          lat: {{ project.latitude }},
          lng: {{ project.longitude }}
          {% else %}
          lat: 47.620499,
          lng: -122.350876
          {% endif %}
        };

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: myLatLng
        });

        var image = '{% static "images/home.png" %}';
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: image,
          title: '{{ project.project }}'
        });

        {% for result in material_processors %}
        {% if result.latitude %}
        var recycleMarker = new google.maps.Marker({
          position: {lat: {{ result.latitude }}, lng: {{ result.longitude }}},
          map: map,
        });
        var infowindow = new google.maps.InfoWindow({
          content: '{{ result.company }} {{ result.address }}'
        });
        // see this tut for binding info windows to multiple markers:
        // https://leewc.com/articles/google-maps-infowindow/
        recycleMarker.infowindow = infowindow
        recycleMarker.addListener('click', function() {
          return this.infowindow.open(map, this);
        })
        {% endif %}
        {% endfor %}


      }
</script>
{% endblock %}