{% extends "base.html" %}{% block content %}
  <h1>Seattle Construction Salvage Companies</h1>
  {% comment %} here is where the query happens {% endcomment %}
  {% for company in salvage_companies %}
  <div>
    <h2><a href="{{ company.website }}">{{ company.company }}</a></h2>
    <p>
      {{ company.phone }}
    </p>
    <p>
      {{ company.address }}
    </p>
    <p>
      Material accepted:
    </p>
    <ul>
      {% for material in company.materials_accepted.all %}
        <li>{{ material }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
{% endblock %}