{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
<h1><a href="{{ waste_processor.website }}">{{ waste_processor.company }}</a></h1>
</br>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">Contact:</div>
        <div class="panel-body">
          <h3>Phone:</h3> <p>{{ waste_processor.phone }}</p>
          <h3>Email:</h3> <p>{{ waste_processor.email }}</p>
          <h3>Hours:</h3> <p>{{ waste_processor.business_hours }}</p>
          <h3>Address:</h3> <p>{{ waste_processor.address }}</p>
          </div>
          </div>
    </div>
    <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Description:</div>
        <div class="panel-body">
          <p>{{ waste_processor.description }}</p>
          <h3>Accepts:</h3>
            {% for waste in waste_processor.waste_types_accepted.all %}
              <p>{{ waste }}</p>
            {% endfor %}
          <h3>Materials:</h3>
            {% for material in waste_processor.materials_accepted.all %}
              <p>{{ material }}</p>
            {% endfor %}
          </div>
        </div>
    </div>

    </div>

  </div>

</div>
{% endblock %}

