{% extends "base.html" %}{% block content %}
  <h1>Construction Salvage App</h1>
  {% comment %} here is where the query happens {% endcomment %}
  {% for post in posts %}
  <div class="post">
    <h2><a href="{% url 'blog_detail' post.pk %}">{{ post }}</a></h2>
    <p class="byline">
      Posted by <a href="{% url 'admin:auth_user_change' post.author.pk %}">{{ post.author }}</a> &mdash; {{ post.published_date }}
    </p>
    <div class="post-body">
      {{ post.text }}
    </div>
    <ul class="categories">
      {% for category in post.categories.all %}
        <li>{{ category }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
{% endblock %}